<button onclick="GetData();"> GetData </button>
<button onclick="SendNotificatio();"> SendNotificatio </button>

<div id="A">
</div>

<div id="B">
</div>

<div id="example">
    <div class="demo-section wide">
        <div id="chart"></div>
    </div>
    <script>
        

       // $(document).ready(createChart);
        //$(document).bind("kendo:skinChange", createChart);
    </script>
</div>



<script>

  async function GetData(){
         const r1=await A();
         //$("#A").html(r1);
         const r2=await B();
         //$("#B").html(r2);
         createChart(r1,r2);
     }

     function A() {
   
          $("#A").html("");
              return new Promise(function(resolve, reject) {
                  $.ajax({
                       url: "/Home/A",
                       type: "get",
                      //dataType: "json",
                      beforeSend: function() {            
                      },
                      success: function(data) {
                          resolve(data) // Resolve promise and when success
                           //$("#A").html(response);
                      },
                      error: function(err) {
                          reject(err) // Reject the promise and go to catch()
                      }
                  });
          });
     }

          function B() {
           
              $("#B").html("");
              return new Promise(function(resolve, reject) {
                  $.ajax({
                       url: "/Home/B",
                       type: "get",
                      //dataType: "json",
                      beforeSend: function() {            
                      },
                      success: function(data) {
                          resolve(data) // Resolve promise and when success
                         //  $("#B").html(response);
                      },
                      error: function(err) {
                          reject(err) // Reject the promise and go to catch()
                      }
                  });
          });
         }



             function SendNotificatio() {
   
              return new Promise(function(resolve, reject) {
                  $.ajax({
                       url: "/Home/SendNotificatio",
                       type: "get",
                      //dataType: "json",
                      beforeSend: function() {            
                      },
                      success: function(data) {
                          resolve(data) // Resolve promise and when success
                      },
                      error: function(err) {
                          reject(err) // Reject the promise and go to catch()
                      }
                  });
          });
     }


     function createChart(dataA,dataB) {
            $("#chart").kendoChart({
                title: {
                    text: "نسبت تولید  به برنامه تولید"
                },
                legend: {
                    visible: false
                },
                seriesDefaults: {
                    type: "column"
                },
                series: [{
                    name: "برنامه تولید",
                    data: dataA //[56000, 63000, 74000]
                }, {
                    name: "تولید واقعی",
                    data:dataB //[52000, 34000, 23000]
                }],
                valueAxis: {
                    max: 140000,
                    line: {
                        visible: false
                    },
                    minorGridLines: {
                        visible: true
                    },
                    labels: {
                        rotation: "auto"
                    }
                },
                categoryAxis: {
                    categories: ["سال", "ماه", "روز"],
                    majorGridLines: {
                        visible: false
                    }
                },
                tooltip: {
                    visible: true,
                    template: "#= series.name #: #= value #"
                }
            });
        }
</script>