<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestKendoTreeView</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestKendoTreeView.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/KendoUI/kendo.blueopal.min.css" />
    <link rel="stylesheet" href="~/css/KendoUI/kendo.common.min.css" />
    <link rel="stylesheet" href="~/css/KendoUI/kendo.rtl.min.css" />
    <link rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.min.css">

    <script src="~/js/jquery.min.js"></script>

    <script type="text/javascript" src="~/js/KendoUI/kendo.all.min.js"></script>

    <script type="text/javascript" src="~/js/KendoUI/kendo.culture.fa-IR.min.js"></script>
    <script type="text/javascript" src="~/js/KendoUI/kendo.culture.fa.min.js"></script>
    <script type="text/javascript" src="~/js/KendoUI/kendo.messages.en-US.js"></script>
    <script type="text/javascript" src="~/js/KendoUI/kendo.messages.fa-IR.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TestKendoTreeView</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="location" asp-action="index">locations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="userrole" asp-action="index">Roles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="location" asp-action="ShowChart">ShowChart</a>
                        </li> 
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Attachment" asp-action="index">AttachFile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TestKendoTreeView - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
